.header-button{
  background-color: $accent-color;
  border: none;
  width: 100%;
  height: 80px;
  font-weight: 700;
}

.btn-see {
  @include button-variant($btn-default-color, $accent-color, $btn-default-border);
}