/* Menu Button */

.menu-btn{
  width: 100px;
  padding: 10px;
  margin-bottom: 30px;
  background: #000;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border: 0px;

  &:hover{
    opacity: 0.6;
  }
}
#container{
  position: absolute;
  z-index: 999;
  height: 39px;
}

.admin-title-panel{
  text-align: center;
  background-color: $theme-background-color;
  color: #FFF;
  height: 39px;
  margin-bottom: 15px;

}
.admin-title{
  width: 500px;
  font-size: 1.6em;
  font-family: $font-family-admin-title;
}

#add-product-form {
  .form-group:nth-of-type(n+2){
    display: none;
  }
}

#fine-uploader-gallery{
  margin-top: 20px;
}
.qq-gallery .add-to-favorite {
  background-color: #F2F7ED;
  width: 15px;
  height: 15px;
  vertical-align: sub;
  display: inline-block;
}
#accessoriesForm{
  .accessories-name {
    margin-top: 20px;
  }
  .price{
    text-align: right;
    margin-top: 1px;
  }
}
